html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
}
body {
  background: url("./Layer-min.png") no-repeat center center fixed;
  background-size: cover;
  font-family: ProximaNova, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: ProximaNova;
  src: url("fonts/ProximaNova-Regular.woff") format("woff");
}
@font-face {
  font-family: ProximaNova;
  src: url("fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
}
.container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 430px;
  margin-top: 90px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -5px 55px 71px rgba(0, 0, 0, 0.6);
}
input[type="radio"] {
  display: none;
}
.title {
  margin-right: 40px;
  margin-bottom: 80px;
  order: -1;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.form {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  flex-grow: 2;
  margin: 0;
}
.tab:checked + .title + .form {
  position: relative;
  display: flex;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
  transition: 0.5s ease-in all;
}

.tab:checked + .title {
  padding-bottom: 5px;
  border-bottom: 3px solid #ffab1a;
  transition: 0.5s ease all;
}

.input {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  border-bottom: 2px solid #c0c0c0;
  padding: 3px;
  margin-bottom: 65px;
  color: #fff;
  font-size: 1rem;
}
.input::placeholder {
  color: #fff;
  font-size: 1rem;
}
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.signIn_label .checkmark {
  position: absolute;
  top: 2px;
  left: -20px;
  height: 15px;
  width: 15px;
  background-color: #215aa7;
  border-radius: 1px;
}
input:checked ~ .label .checkmark:after {
  display: block;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.signIn_label {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 70px;
  font-weight: 300;
}
.signUp_label {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 40px;
  font-weight: 300;
}
.signUp_label .checkmark {
  position: absolute;
  top: 2px;
  left: -20px;
  height: 15px;
  width: 15px;
  background-color: #215aa7;
  border-radius: 1px;
}

.submit {
  cursor: pointer;
  box-sizing: border-box;
  width: 200px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  background-color: #f57f17;
  border-radius: 20px;
  padding: 8px;
  border: none;
  margin-bottom: 30px;
}
.signIn_forgetPas {
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0;
    height: 100%;
    width: 100%;
    padding-left: 30px;
  }
  .title {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 30px;
  }
  .input {
    margin-bottom: 40px;
  }
}
